@font-face {
    font-family: "whiterabbit";
    src: url("../fonts/whiterabbit/whitrabt-webfont.eot");
    src: url("../fonts/whiterabbit/whitrabt-webfont.svg");
    src: url("../fonts/whiterabbit/whitrabt-webfont.ttf");
    src: url("../fonts/whiterabbit/whitrabt-webfont.woff");

    font-weight: normal;
    font-style: normal;
}



body {
    overflow: hidden;
    background-image: url("../images/wall16.jpg");
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-size: cover;
    text-decoration: none;
    // color: white;

    h1 {
        margin-top: -10%;
        font-size: 3em;
        font-family: "whiterabbit";
    }

    .def {

        font-family: "whiterabbit";
        font-size: 1.2rem;
        margin-top: 2%;
        margin-left: 1%;
        margin-right: 1%;

    }


    h2{
        margin-bottom:5%;
        margin-top:5%;
        font-family: "whiterabbit";
    }


    .icone
    {
        height:45%;
        width: 45%;
    }


    #container {
        display: block;
        margin: 0 auto;
        position: relative;
        font-family: "whiterabbit";
        
        

    }

    #burger {
        display: block;
        cursor: pointer;
        margin: 50px auto;
        margin-left: 85vw;
        // position:relative;
        
    }

    #burger p {
        margin: 0;
        text-align: center;
    }

    #burger div {
        width: 35px;
        height: 5px;
        background-color: #000;
        margin: 6px auto;
        transition: 0.4s;
    }

    .effect .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
    }

    .effect .bar2 {
        opacity: 0;
    }

    .effect .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
    }

    nav {
        display: none;
    }

    nav.show {
        display: block;
        list-style: none;
        text-decoration: none;
        position: absolute;
        top: 75px;
        right:40px;
        
    }

    nav li a{
        list-style: none;
        text-align: center;
        color:black;
        text-decoration: none;
        margin-bottom: 10px;
        margin-left: 85vw;
        position: relative;

    

    }
    a:hover {
        color: black;
        text-decoration: none;

    }


















}