body {
    overflow: hidden;
    background-image: url("../images/wall6.jpg");
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-size: cover;
    text-decoration: none;

























}