{% extends 'base.html.twig' %}
{% block stylesheets %} <link rel="stylesheet" href="{{ asset('build/css/about.css') }}">{% endblock %}

{% block body %}

<h1 class="mt-6">A propos de moi </h1>

<p class=" def text-center d-flex justify-content-between">j'ai commencé ma vie professionnelle en tant qu'électricien dans le bâtiment, 
    après 15 ans de dur labeur sur divers chantiers, je me suis lassé et j'ai décider de devenir développeur web, 
    passionné d'informatique et de nouvelles technologies, 
    fervent défenseur du logiciel libre et utilisateur aguerri du système d'exploitation Linux,
    j'ai constamment besoin d'apprendre et je pense que le secteur de l'informatique
    est parfait pour nourrir ma soif de connaissances.</p>


<h2></h2>




{% endblock %}