{% extends 'base.html.twig' %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('build/css/folio.css') }}">
{% endblock %}
{% block body %}
<div class="container">
<h2>Mes Projets</h2>
    <div class="row flex">
    {% for property in properties %}
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                <h5 class="card-title">
                <a href="#">{{property.title}}</a>
                </h5>
            <p class="card-text">{{property.description}}</p>
                </div>

            </div>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}