{% extends 'base.html.twig' %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('build/css/folio.css') }}">
{% endblock %}
{%{% block body %}
    <div class="container">
        <div class="row flex">
            <div class="col-3">
            </div>
        </div>
    </div>
{% endblock %}%}