{% extends 'base.html.twig' %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('build/css/folio.css') }}">
{% endblock %}
{% block body %}
<div class="container">
    <h2>Mes Projets</h2>
    <div class="row flex">
        {% for property in properties %}
        <div class="col-3">
            <div class="card mb-4">
                {% if property.filename %}
                    <img src="{{ vich_uploader_asset(property, 'imageFile') | imagine_filter('thumb') }}" class="card-img-top"
                        style="width: 100%; height: auto;">
                    {% endif %}
                <div class="card-body">
                    <a href="#">{{property.title}}</a>
                    <h5 class="card-title"></h5>
                        <p class="card-text">{{property.description}}</p>
                </div>

            </div>

        </div>

        {% endfor %}
    </div>
</div>
{% endblock %}